<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>동적 파일 업로드 실습</h3>
    <form onsubmit="registerFunc(event)">
        <input type="text" id="id" placeholder="아이디" required /><br />
        <input type="password" id="pw" placeholder="비밀번호"required /><br />
        <input type="text" id="username" placeholder="이름" required /><br />
        <input type="number" id="age" placeholder="나이" required /><br />
        <input type="file" id="myfile" /><br />
        <button type="submit">제출</button>
    </form>
    <br />
    <br />
    <div class="resultBox"></div>
    <script>
        const resultBox = document.querySelector('.resultBox') 
        function registerFunc(e) {
            console.log(e);
            e.preventDefault(); // submit으로 제출 되는 것을 막는 것
            console.log(e);
        }
    </script>
</body>
</html>