<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h3>회원가입</h3>
    <form>
        <input type="text" id="name" placeholder="이름" /><br />
        <input type="email" id="email" placeholder="이메일" /><br />
        <input type="password" id="password" placeholder="비밀번호" /><br />
        <button type="button" onclick="signup()">회원가입</button>
    </form>

    <script>
        function signup() {
            const data = {
                name: document.querySelector('#name').value,
                email: document.querySelector('#email').value,
                pw: document.querySelector('#password').value,
            };
            axios({
                method: 'POST',
                url: 'api/user/signup',
                data,
            }).then((res) => {
                if (res.data.result) {
                    alert('회원가입을 축하합니다.');
                    // document.location.href = '/login';
                } else {
                    alert('이미 존재하는 이메일입니다.')
                }
            })
        }
    </script>
</body>

</html>