@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
a{
    /* 밑줄 없애기 */
    text-decoration: none; 
    color: #f2f2f2
}
ul li{
    /* 점 없애기 */
    list-style: none;
}
#container{
    width: 100%;
    margin: 0 auto;
}
header{
    height: 240px;
    background-color: rgb(1, 1, 100);
}
header #logo{
    width: 10%;
    height: 240px;
    float:left;
    margin-top: 5px;
    padding-left: 20px;
}
header #logo h1{
    font-size: 26px;
}
header #logo h1 a:hover{
    color: yellow;
}
header nav{
    width: 76%;
    height: 240px;
    float: left;
    margin-top: 40px;
}
header nav ul{
    text-align: center;
}
header nav ul li a{
    display: block;
    padding: 12px;
}
header nav ul li a:hover{
    background-color: gray;
    color: yellow;
    border-radius: 3px;
}
#container #main{
    width: 90%;
    margin: 0 auto;
}
/* 가변 크기(%)는 부모의 상대 비율대로 크기를 정함 */
/* 90 x 0.9 = 81% */
#container #main #contents{
    width: 90%;
    margin: 0 auto;
    padding-top: 55px;
}
#main #contents h2{
    text-align: center;
    font-size: 21px;
    /* margin: 10px; */
    padding-bottom: 20px;
}


/* footer 스타일 */
footer{
    margin-top: 100px;
    height: 150px;
    border-top: 2px solid #222;
    clear: both;
}
footer #footer_menu{
    margin: 10px 20px;
}
footer #footer_menu li{
    float: left;
    border-right: 1px solid #ccc;
    margin: 10px 0;
    padding: 0 10px;
}
footer #footer_menu li a{
    color: #444;
}
footer #footer_menu li:last-child{
    border: none;
}

/* index 스타일 */
#main #contents .main_pic{
    width: 400px;
    margin: 20px auto;
}
#main #contents .main_pic img{
    width: 400px;
    height: 350px;
    border-radius: 6px;
}

/* product 스타일 */
    #contents {
        /* 상대 위치를 기준으로 자식 요소를 배치하기 위해 추가 */
        position: relative; 
        /* 제목 아래에 여유 공간을 만듦 */
        padding-top: 70px; 
    }
    #main #contents .product_h2{
        /* 기본 마진 제거 */
        margin: 0; 
        /* 기본 패딩 제거 */
        padding: 0; 
        /* 절대 위치로 배치 */
        position: absolute; 
        /* 상단에 위치 */
        top: 30px; 
        /* 왼쪽에 위치 */
        left: 0px; 
        font-size: 30px;
    }
    #main #contents #watermelon, #strawberry{
        width: 100%;
    }
    #main #contents h3{
        color: red;
        margin: 20px 0;
    }
    #main #contents #watermelon img, #strawberry img{
        margin-top: 30px;
        display: block;
        width: 300px;
        border-radius: 6px;
    }
    #contents #watermelon p, #strawberry p{
        margin-top: 10px;
    }

/* border 스타일 */
#contents h1{
    margin-top: 30px;
}
#contents table{
    width: 500px;
    border: 2px solid /#ccc;
    border-collapse:collapse;
    margin: 30px 0 150px;
}
#contents table th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
#contents table thead{
    background-color: #eee;
}
#contents table tr td:nth-last-of-type(3){
    text-align: left;
}

/* login 스타일 */
#contents form{
    width: 440px;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-bottom: 200px;
}
#contents form ul{
    padding: 20px 40px;
}
#contents form ul li{
    margin: 20px;
}
#contents form label{
    width: 80px;
    float: left;
}
/* 속성 선택자(태그[속성="속성값"]) */
#contents form input[type="text"],input[type="password"]{
    width: 200px;
    height: 25px;
    padding: 0 5px;
}
#contents form input[type="submit"],input[type="reset"]{
    padding: 5px 8px;
}

/* PC 기준 */
@media screen and (min-width: 800px) {
    header{
        height: 80px;
    }
    header #logo{
        height: 80px;
        margin-top: 0;
        padding-left: 40px;
        line-height: 80px;
    }
    header #logo h1 a{
        font-size: 30px;
    }
    header nav{
        height: 80px;
        margin-top: 0;
        line-height: 80px;
    }
    header nav ul{
        padding-left: 240px;
    }
    header nav ul li{
        float: left;
    }
    header nav ul li a{
        padding: 0 30px;
    }
    #container #main{
        width: 1000px;
    }
    #container #main #contents{
        width: 900px;
    }
    footer #footer_menu{
        margin: 10px 40px;
    }

    /* index 스타일 */
    #main #contents h2{
        margin-top: 30px;
        font-size: 26px;
    }
    #main #contents .main_pic{
        width: 550px;
    }
    #main #contents .main_pic img{
        width: 550px;
        height: 500px;
    }

    /* product */
    #main #contents .product_h2{
        left: 30px;
    }
    #contents #watermelon, #strawberry{
        margin: 30px 0;
        height: 400px;
    }
    #main #contents #watermelon img, #strawberry img{
        width: 300px;
        height: 300px;
        float: left;
        margin: 0 30px 50px 30px;
    }
    #contents #watermelon p, #strawberry p{
        line-height: 1.5;
    }


/* board 스타일 */
    #contents table{
        width: 700px;
    }


/* login 스타일 */
}